@font-face {
  font-family: Roboto_bold;
  src: url("./fonts/roboto/Roboto-Black.ttf"); }

@font-face {
  font-family: Roboto_light;
  src: url("./fonts/roboto/Roboto-Light.ttf"); }

@font-face {
  font-family: Montserrat_light;
  src: url("./fonts/montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: Montserrat_black;
  src: url("./fonts/montserrat/Montserrat-Black.ttf"); }

@font-face {
  font-family: Montserrat_bold;
  src: url("./fonts/montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: Roboto_regular;
  src: url("./fonts/roboto/Roboto-Regular.ttf"); }