$color-primary: #ff1d96;
$color-text-primary: #222;
$color-text-light: #fff;
$color-body: #F2F2F2;
$color-surface: #fff;
$color-divider: #E8E8E8;

$font-header: "Montserrat_black";
$font-text: "Roboto_light";
$font-text-bold: "Roboto_bold";
$font-text-header: "Montserrat_bold";
$font-button: "Montserrat_bold";